.page-banner {
  border-bottom: 1px solid $PrimaryColor;
  background-position: center left 100px;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-banner-wrap {
  min-height: 300px;
  display: grid;
  grid-template-columns: 300px auto;
  gap: 40px;
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  background-image: linear-gradient(
    to right,
    rgba(31.5, 31.5, 94.5, 1) calc((50vw - 170px) - 340px),
    rgba(31.5, 31.5, 94.5, 0.84) 50%,
    rgba(31.5, 31.5, 94.5, 0.84) 100%
  );
}
.page-banner-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &.is-row {
    flex-direction: row;
    align-items: center;
  }
}
.page-banner-info {
  display: grid;
  gap: 20px;
  align-self: flex-start;
}
.page-banner-title {
  font-size: 35px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 12px;
  span {
    display: block;
    &:last-child {
      font-size: 30px;
      font-weight: 300;
      opacity: 0.8;
    }
  }
}
.page-banner-info-list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 15px;
  list-style-type: disc;
  font-weight: 400;
  font-size: 12px;
}
.page-banner-tagline {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.8;
  font-style: italic;
}
.page-banner-subtitle {
  font-weight: 700;
  font-size: 22px;
  margin: 10px 0;
}
.page-banner-rate {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $PrimaryColor;
  border: 1px solid $TertiaryColor;
  border-radius: 100%;
  font-weight: 700;
  font-size: 18px;
}
