.button-switcher {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid $PrimaryColor;
  border-radius: 20px;
  button {
    padding: 5px 12px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: $PrimaryColor;
    cursor: pointer;
    border-radius: inherit;
    border: none;

    &.is-active {
      background-color: $PrimaryColor;
      span {
        background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
