{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "newline-before-return": 2,
    "semi": [2, "always"],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "max-len": [2, 100],
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/no-this-alias": [
      "error",
      {
        "allowDestructuring": false,
        "allowedNames": ["self"]
      }
    ],
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "@typescript-eslint/no-empty-function": ["error", { "allow": ["methods"] }]
  }
}
